.artist {
    color: #aaa;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
}

.artist__name {
    font-size: 18px;
    line-height: 101%;
    font-weight: 400;
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .artist__text {
        position: relative;
        top: 100px;
        font-size: 12px;
    }

    .artist__name{
        position: relative;
        top: 100px;
        font-size: 12px;
    }
}
