.place__photo {
    margin-bottom: 48px;
    width: 28.7rem;
}

.place__image{
    margin-left: 100px;
}

@media screen and (max-width: 768px){
    .place__photo {
        width: 340px;
        margin-left: 24px;
        margin-right: 28px;
    }
}

@media screen and (max-width: 320px){
    .place__photo{
        max-width: 320px;
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .place__image{
        margin-left: 10px;
    }
}