.cover__subtitle {
    font-size: 18px;
    line-height: 1.0;
    font-weight: 400;
    height: 66px;
    margin-bottom: 45px;
}

@media screen and (max-width: 320px){
    .cover__subtitle{
        margin-left: 180px;
        margin-bottom: 5px;
        width: 280px;
        font-size: 14px;
    }
}