.cover__button {
    width: 191px;
    align-self: center;
  }
  
  .cover__button:hover{
      text-decoration: underline;
      background-color: #0763cc;
      opacity: 0.9;
      cursor: pointer;
  }

  @media screen and (max-width: 320px){
    .cover__button{
        width: 150px;
        margin-top: 5px;
    }
  }