.intro__author {
    width: 56.2vw;
    font-size: 3.3vh;
    font-weight: 400;
    line-height: 1.17;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 150px;
    bottom: 5px;
}

@media screen and (max-width: 320px){
    .intro__author{
        font-size: 24px;
        margin-left: 0;
    }
}
