.cover__overlay {
    max-width: 1184px;
}

.cover__background {
    max-width: 1184px;
    margin: 105px auto 92px;
    z-index: 2;
}

.cover:hover .cover__background{
    background: #2A2C2F;
    opacity: 0.5;
}

@media screen and (max-width: 768px){
    .cover__background{
        width: 768px;
    }
}

@media  screen and (max-width: 320px){
    .cover__background {
        width: 320px;
    }
}