.cover__overlay {
    max-width: 1184px;
}

.cover__background {
    max-width: 1184px;
    margin: 105px auto 92px;
    z-index: 2;
}

.cover:hover .cover__background{
    background: #2A2C2F;
    opacity: 0.5;
}