.cover__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41rem;
    margin-top: 6.25rem;
    font-size: 4.5rem;
    line-height: 0.87;
    font-weight: 900;
}

@media screen and (max-width: 320px){
    .cover__title{
        margin-left: 180px;
        width: 288px;
        font-size: 32px;
    }
}