.button__buy { 
    width: 18.1rem;  
 }
 
 .buy__button:hover {
     text-decoration: underline;
     background-color: #0763cc;
     opacity: 0.9;
 }

 
 @media screen and (max-width: 320px){
    .buy__button{
        width: 288px;
        margin-bottom: 5px;
    }
 }
