.button {
    text-decoration: none;
    color: #fff;
    background-color: #0278FE;
    border-radius: 4px;
    width: hug 355px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .button{
        width: 300px;
        margin-left: 20px;
    }
}